<div class="card">
  <div class="card-container">
    <div
      class="flex justify-content-between"
      style="height: 40px"
      [ngStyle]="{ backgroundColor: 'var(--blue-800)' }"
    >
      <div class="flex align-items-center">
        <img src="../../assets/Vector.png" class="ml-8 map" />
        <span class="text-white text-xs font-medium ml-2">
          VISIT US 944 Edgemood Ave South Jaksonville FL-32205-5341
        </span>
      </div>

      <div class="flex">
        <div class="flex align-items-center">
          <i class="mr-3 ml-8 text-white pi pi-facebook"></i>
          <i class="mr-3 text-white pi pi-twitter"></i>
          <i class="mr-3 text-white pi pi-linkedin"></i>
          <i class="mr-3 text-white pi pi-youtube"></i>
          <i class="mr-3 text-white pi pi-home"></i>
        </div>
        <div class="vr opacity-100 text-white" style="width: 2px"></div>
        <div class="flex align-items-center">
          <span class="mx-2 text-white text-xs font-medium">CONTACT US</span>
        </div>
        <div class="vr opacity-100 text-white" style="width: 2px"></div>
        <div class="flex align-items-center">
          <i class="mx-2 text-white pi pi-phone"></i>
          <span class="mr-2 text-white text-xs font-medium"
            >(1245) 2456 012</span
          >
        </div>
        <div class="vr opacity-100 text-white mr-6" style="width: 2px"></div>
      </div>
    </div>
  </div>
</div>
<div>
  <p-menubar [model]="items">
    <ng-template pTemplate="start" class="">
      <svg
        width="171"
        height="58"
        viewBox="0 0 171 58"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M28.564 18.9942V33.3722H35.753C36.7383 33.3722 37.6651 33.1885 38.5334 32.8211C39.4018 32.4371 40.1616 31.9194 40.8129 31.2681C41.4642 30.6168 41.9735 29.857 42.3409 28.9887C42.725 28.1036 42.917 27.1685 42.917 26.1832C42.917 25.198 42.725 24.2711 42.3409 23.4028C41.9735 22.5177 41.4642 21.7496 40.8129 21.0983C40.1616 20.447 39.4018 19.9377 38.5334 19.5703C37.6651 19.1862 36.7383 18.9942 35.753 18.9942H28.564ZM28.564 47.7252H21.375V11.8052H35.753C37.0723 11.8052 38.3414 11.9805 39.5604 12.3312C40.7795 12.6652 41.915 13.1495 42.9671 13.784C44.0358 14.4019 45.0044 15.1534 45.8728 16.0384C46.7578 16.9068 47.5093 17.8753 48.1271 18.9441C48.7617 20.0128 49.246 21.1567 49.58 22.3758C49.9307 23.5948 50.106 24.864 50.106 26.1832C50.106 27.4189 49.9474 28.6213 49.6301 29.7902C49.3295 30.9592 48.887 32.0697 48.3025 33.1217C47.7347 34.1738 47.0333 35.1423 46.1984 36.0274C45.3634 36.9125 44.4283 37.6806 43.3929 38.3319L47.3757 47.7252H39.7358L36.6047 40.4861L28.564 40.5362V47.7252Z"
          fill="black"
        />
        <path
          d="M79.7388 34.0736C79.7388 36.0775 79.3797 37.9478 78.6617 39.6845C77.9436 41.4045 76.9667 42.8991 75.731 44.1683C74.4952 45.4207 73.0424 46.4143 71.3725 47.1491C69.7192 47.8671 67.9408 48.2262 66.0371 48.2262C64.1501 48.2262 62.3716 47.8671 60.7017 47.1491C59.0484 46.4143 57.5956 45.4207 56.3432 44.1683C55.1074 42.8991 54.1305 41.4045 53.4125 39.6845C52.6944 37.9478 52.3354 36.0775 52.3354 34.0736C52.3354 32.0363 52.6944 30.1493 53.4125 28.4125C54.1305 26.6758 55.1074 25.1813 56.3432 23.9288C57.5956 22.6597 59.0484 21.6661 60.7017 20.948C62.3716 20.2299 64.1501 19.8709 66.0371 19.8709C67.9408 19.8709 69.7192 20.2132 71.3725 20.8979C73.0424 21.5659 74.4952 22.5261 75.731 23.7785C76.9667 25.0143 77.9436 26.5088 78.6617 28.2623C79.3797 29.999 79.7388 31.9361 79.7388 34.0736ZM72.8503 34.0736C72.8503 32.9714 72.6667 31.9778 72.2993 31.0928C71.9486 30.191 71.4643 29.4229 70.8464 28.7883C70.2286 28.137 69.5022 27.6444 68.6672 27.3104C67.8489 26.9597 66.9722 26.7844 66.0371 26.7844C65.1019 26.7844 64.2168 26.9597 63.3819 27.3104C62.5636 27.6444 61.8456 28.137 61.2277 28.7883C60.6265 29.4229 60.1506 30.191 59.7999 31.0928C59.4492 31.9778 59.2739 32.9714 59.2739 34.0736C59.2739 35.1089 59.4492 36.0691 59.7999 36.9542C60.1506 37.8393 60.6265 38.6074 61.2277 39.2587C61.8456 39.91 62.5636 40.4276 63.3819 40.8117C64.2168 41.1791 65.1019 41.3628 66.0371 41.3628C66.9722 41.3628 67.8489 41.1875 68.6672 40.8368C69.5022 40.4861 70.2286 39.9935 70.8464 39.3589C71.4643 38.7243 71.9486 37.9562 72.2993 37.0544C72.6667 36.1526 72.8503 35.159 72.8503 34.0736Z"
          fill="black"
        />
        <path
          d="M110.373 34.0736C110.373 36.1777 110.014 38.0981 109.296 39.8348C108.578 41.5715 107.601 43.0661 106.366 44.3186C105.13 45.5543 103.677 46.5145 102.007 47.1992C100.354 47.8838 98.5755 48.2262 96.6718 48.2262C94.7848 48.2262 93.0063 47.8755 91.3364 47.1741C89.6832 46.4728 88.2303 45.4958 86.9779 44.2434C85.7421 42.991 84.7652 41.5047 84.0472 39.7847C83.3291 38.048 82.9701 36.1443 82.9701 34.0736V10.2271H89.8335V22.7515C90.2008 22.2839 90.6434 21.8665 91.161 21.4991C91.6954 21.1317 92.2632 20.8311 92.8644 20.5973C93.4822 20.3635 94.1168 20.1882 94.7681 20.0713C95.4193 19.9377 96.0539 19.8709 96.6718 19.8709C98.5755 19.8709 100.354 20.2299 102.007 20.948C103.677 21.6494 105.13 22.6346 106.366 23.9038C107.601 25.1729 108.578 26.6758 109.296 28.4125C110.014 30.1326 110.373 32.0196 110.373 34.0736ZM103.485 34.0736C103.485 33.0382 103.301 32.078 102.934 31.193C102.583 30.2912 102.099 29.5147 101.481 28.8634C100.863 28.2122 100.137 27.7028 99.3019 27.3354C98.4837 26.9681 97.6069 26.7844 96.6718 26.7844C95.7366 26.7844 94.8516 26.9931 94.0166 27.4106C93.1983 27.8114 92.4803 28.3541 91.8624 29.0388C91.2445 29.7067 90.7603 30.4833 90.4096 31.3683C90.0589 32.2367 89.8835 33.1384 89.8835 34.0736C89.8835 35.1089 90.0589 36.0691 90.4096 36.9542C90.7603 37.8393 91.2445 38.6074 91.8624 39.2587C92.4803 39.91 93.1983 40.4276 94.0166 40.8117C94.8516 41.1791 95.7366 41.3628 96.6718 41.3628C97.6069 41.3628 98.4837 41.1791 99.3019 40.8117C100.137 40.4276 100.863 39.91 101.481 39.2587C102.099 38.6074 102.583 37.8393 102.934 36.9542C103.301 36.0691 103.485 35.1089 103.485 34.0736Z"
          fill="black"
        />
        <path
          d="M122.247 13.6087C122.247 14.2433 122.121 14.8361 121.871 15.3872C121.637 15.9382 121.311 16.4225 120.894 16.84C120.477 17.2408 119.984 17.5664 119.416 17.8169C118.865 18.0507 118.272 18.1676 117.638 18.1676C117.003 18.1676 116.402 18.0507 115.834 17.8169C115.283 17.5664 114.799 17.2408 114.381 16.84C113.981 16.4225 113.655 15.9382 113.404 15.3872C113.171 14.8361 113.054 14.2433 113.054 13.6087C113.054 12.9908 113.171 12.4063 113.404 11.8553C113.655 11.2875 113.981 10.8032 114.381 10.4024C114.799 9.98496 115.283 9.65933 115.834 9.42554C116.402 9.17505 117.003 9.0498 117.638 9.0498C118.272 9.0498 118.865 9.17505 119.416 9.42554C119.984 9.65933 120.477 9.98496 120.894 10.4024C121.311 10.8032 121.637 11.2875 121.871 11.8553C122.121 12.4063 122.247 12.9908 122.247 13.6087ZM121.069 47.7252H114.181V20.8979H121.069V47.7252Z"
          fill="black"
        />
        <path
          d="M133.143 47.7252H126.305V20.8979H127.958L130.212 23.503C131.314 22.501 132.558 21.7329 133.944 21.1985C135.347 20.6474 136.808 20.3719 138.328 20.3719C139.965 20.3719 141.509 20.6892 142.962 21.3237C144.415 21.9416 145.684 22.8016 146.769 23.9038C147.855 24.9892 148.707 26.2667 149.324 27.7362C149.959 29.1891 150.276 30.7421 150.276 32.3953V47.7252H143.438V32.3953C143.438 31.6939 143.304 31.0343 143.037 30.4165C142.77 29.7819 142.403 29.2308 141.935 28.7632C141.467 28.2957 140.925 27.9283 140.307 27.6611C139.689 27.3939 139.029 27.2603 138.328 27.2603C137.61 27.2603 136.934 27.3939 136.299 27.6611C135.664 27.9283 135.113 28.2957 134.646 28.7632C134.178 29.2308 133.811 29.7819 133.544 30.4165C133.276 31.0343 133.143 31.6939 133.143 32.3953V47.7252Z"
          fill="black"
        />
        <path
          d="M55.0935 9.2502H76.4685V16.3752H55.0935V9.2502Z"
          fill="#F6B001"
        />
      </svg>
    </ng-template>
    <ng-template pTemplate="end">
      <i class="mb-2 mr-3 pi pi-search"></i>
      <i class="mb-2 mr-3 pi pi-heart-fill"></i>
      <i class="mb-2 mr-3 pi pi-shopping-cart"></i>
      <button
        pButton
        pRipple
        type="button"
        label="Login"
        class="p-button-outlined p-button-warning p-button-sm mr-2"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Sign Up"
        class="p-button-warning p-button-sm"
      ></button>
    </ng-template>
  </p-menubar>
</div>
<div>
  <p-galleria
    [value]="images"
    [responsiveOptions]="responsiveOptions"
    [numVisible]="2"
    [showIndicators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
</div>

<div class="card">
  <div class="card-container overflow-hidden">
    <div
      class="flex"
      style="height: 350px"
      [ngStyle]="{ backgroundColor: 'var(--blue-800)' }"
    >
      <div class="flex flex-column ml-6 mr-8 my-4 flex-1 text-white">
        <div>
          <svg
            width="171"
            height="58"
            viewBox="0 0 171 58"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M28.564 18.9942V33.3722H35.753C36.7383 33.3722 37.6651 33.1885 38.5334 32.8211C39.4018 32.4371 40.1616 31.9194 40.8129 31.2681C41.4642 30.6168 41.9735 29.857 42.3409 28.9887C42.725 28.1036 42.917 27.1685 42.917 26.1832C42.917 25.198 42.725 24.2711 42.3409 23.4028C41.9735 22.5177 41.4642 21.7496 40.8129 21.0983C40.1616 20.447 39.4018 19.9377 38.5334 19.5703C37.6651 19.1862 36.7383 18.9942 35.753 18.9942H28.564ZM28.564 47.7252H21.375V11.8052H35.753C37.0723 11.8052 38.3414 11.9805 39.5604 12.3312C40.7795 12.6652 41.915 13.1495 42.9671 13.784C44.0358 14.4019 45.0044 15.1534 45.8728 16.0384C46.7578 16.9068 47.5093 17.8753 48.1271 18.9441C48.7617 20.0128 49.246 21.1567 49.58 22.3758C49.9307 23.5948 50.106 24.864 50.106 26.1832C50.106 27.4189 49.9474 28.6213 49.6301 29.7902C49.3295 30.9592 48.887 32.0697 48.3025 33.1217C47.7347 34.1738 47.0333 35.1423 46.1984 36.0274C45.3634 36.9125 44.4283 37.6806 43.3929 38.3319L47.3757 47.7252H39.7358L36.6047 40.4861L28.564 40.5362V47.7252Z"
              fill="black"
            />
            <path
              d="M79.7388 34.0736C79.7388 36.0775 79.3797 37.9478 78.6617 39.6845C77.9436 41.4045 76.9667 42.8991 75.731 44.1683C74.4952 45.4207 73.0424 46.4143 71.3725 47.1491C69.7192 47.8671 67.9408 48.2262 66.0371 48.2262C64.1501 48.2262 62.3716 47.8671 60.7017 47.1491C59.0484 46.4143 57.5956 45.4207 56.3432 44.1683C55.1074 42.8991 54.1305 41.4045 53.4125 39.6845C52.6944 37.9478 52.3354 36.0775 52.3354 34.0736C52.3354 32.0363 52.6944 30.1493 53.4125 28.4125C54.1305 26.6758 55.1074 25.1813 56.3432 23.9288C57.5956 22.6597 59.0484 21.6661 60.7017 20.948C62.3716 20.2299 64.1501 19.8709 66.0371 19.8709C67.9408 19.8709 69.7192 20.2132 71.3725 20.8979C73.0424 21.5659 74.4952 22.5261 75.731 23.7785C76.9667 25.0143 77.9436 26.5088 78.6617 28.2623C79.3797 29.999 79.7388 31.9361 79.7388 34.0736ZM72.8503 34.0736C72.8503 32.9714 72.6667 31.9778 72.2993 31.0928C71.9486 30.191 71.4643 29.4229 70.8464 28.7883C70.2286 28.137 69.5022 27.6444 68.6672 27.3104C67.8489 26.9597 66.9722 26.7844 66.0371 26.7844C65.1019 26.7844 64.2168 26.9597 63.3819 27.3104C62.5636 27.6444 61.8456 28.137 61.2277 28.7883C60.6265 29.4229 60.1506 30.191 59.7999 31.0928C59.4492 31.9778 59.2739 32.9714 59.2739 34.0736C59.2739 35.1089 59.4492 36.0691 59.7999 36.9542C60.1506 37.8393 60.6265 38.6074 61.2277 39.2587C61.8456 39.91 62.5636 40.4276 63.3819 40.8117C64.2168 41.1791 65.1019 41.3628 66.0371 41.3628C66.9722 41.3628 67.8489 41.1875 68.6672 40.8368C69.5022 40.4861 70.2286 39.9935 70.8464 39.3589C71.4643 38.7243 71.9486 37.9562 72.2993 37.0544C72.6667 36.1526 72.8503 35.159 72.8503 34.0736Z"
              fill="black"
            />
            <path
              d="M110.373 34.0736C110.373 36.1777 110.014 38.0981 109.296 39.8348C108.578 41.5715 107.601 43.0661 106.366 44.3186C105.13 45.5543 103.677 46.5145 102.007 47.1992C100.354 47.8838 98.5755 48.2262 96.6718 48.2262C94.7848 48.2262 93.0063 47.8755 91.3364 47.1741C89.6832 46.4728 88.2303 45.4958 86.9779 44.2434C85.7421 42.991 84.7652 41.5047 84.0472 39.7847C83.3291 38.048 82.9701 36.1443 82.9701 34.0736V10.2271H89.8335V22.7515C90.2008 22.2839 90.6434 21.8665 91.161 21.4991C91.6954 21.1317 92.2632 20.8311 92.8644 20.5973C93.4822 20.3635 94.1168 20.1882 94.7681 20.0713C95.4193 19.9377 96.0539 19.8709 96.6718 19.8709C98.5755 19.8709 100.354 20.2299 102.007 20.948C103.677 21.6494 105.13 22.6346 106.366 23.9038C107.601 25.1729 108.578 26.6758 109.296 28.4125C110.014 30.1326 110.373 32.0196 110.373 34.0736ZM103.485 34.0736C103.485 33.0382 103.301 32.078 102.934 31.193C102.583 30.2912 102.099 29.5147 101.481 28.8634C100.863 28.2122 100.137 27.7028 99.3019 27.3354C98.4837 26.9681 97.6069 26.7844 96.6718 26.7844C95.7366 26.7844 94.8516 26.9931 94.0166 27.4106C93.1983 27.8114 92.4803 28.3541 91.8624 29.0388C91.2445 29.7067 90.7603 30.4833 90.4096 31.3683C90.0589 32.2367 89.8835 33.1384 89.8835 34.0736C89.8835 35.1089 90.0589 36.0691 90.4096 36.9542C90.7603 37.8393 91.2445 38.6074 91.8624 39.2587C92.4803 39.91 93.1983 40.4276 94.0166 40.8117C94.8516 41.1791 95.7366 41.3628 96.6718 41.3628C97.6069 41.3628 98.4837 41.1791 99.3019 40.8117C100.137 40.4276 100.863 39.91 101.481 39.2587C102.099 38.6074 102.583 37.8393 102.934 36.9542C103.301 36.0691 103.485 35.1089 103.485 34.0736Z"
              fill="black"
            />
            <path
              d="M122.247 13.6087C122.247 14.2433 122.121 14.8361 121.871 15.3872C121.637 15.9382 121.311 16.4225 120.894 16.84C120.477 17.2408 119.984 17.5664 119.416 17.8169C118.865 18.0507 118.272 18.1676 117.638 18.1676C117.003 18.1676 116.402 18.0507 115.834 17.8169C115.283 17.5664 114.799 17.2408 114.381 16.84C113.981 16.4225 113.655 15.9382 113.404 15.3872C113.171 14.8361 113.054 14.2433 113.054 13.6087C113.054 12.9908 113.171 12.4063 113.404 11.8553C113.655 11.2875 113.981 10.8032 114.381 10.4024C114.799 9.98496 115.283 9.65933 115.834 9.42554C116.402 9.17505 117.003 9.0498 117.638 9.0498C118.272 9.0498 118.865 9.17505 119.416 9.42554C119.984 9.65933 120.477 9.98496 120.894 10.4024C121.311 10.8032 121.637 11.2875 121.871 11.8553C122.121 12.4063 122.247 12.9908 122.247 13.6087ZM121.069 47.7252H114.181V20.8979H121.069V47.7252Z"
              fill="black"
            />
            <path
              d="M133.143 47.7252H126.305V20.8979H127.958L130.212 23.503C131.314 22.501 132.558 21.7329 133.944 21.1985C135.347 20.6474 136.808 20.3719 138.328 20.3719C139.965 20.3719 141.509 20.6892 142.962 21.3237C144.415 21.9416 145.684 22.8016 146.769 23.9038C147.855 24.9892 148.707 26.2667 149.324 27.7362C149.959 29.1891 150.276 30.7421 150.276 32.3953V47.7252H143.438V32.3953C143.438 31.6939 143.304 31.0343 143.037 30.4165C142.77 29.7819 142.403 29.2308 141.935 28.7632C141.467 28.2957 140.925 27.9283 140.307 27.6611C139.689 27.3939 139.029 27.2603 138.328 27.2603C137.61 27.2603 136.934 27.3939 136.299 27.6611C135.664 27.9283 135.113 28.2957 134.646 28.7632C134.178 29.2308 133.811 29.7819 133.544 30.4165C133.276 31.0343 133.143 31.6939 133.143 32.3953V47.7252Z"
              fill="black"
            />
            <path
              d="M55.0935 9.2502H76.4685V16.3752H55.0935V9.2502Z"
              fill="#F6B001"
            />
          </svg>
        </div>
        <div class="ml-4 mr-8 mb-8 text-xs">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus maiores a expedita fugiat cumque obcaecati rem rerum
            iure consequatur at!
          </p>
        </div>
      </div>
      <div class="flex flex-1 text-white ml-6 mr-8 my-4">
        <ul>
          <li class="my-2 text-xl" style="list-style-type: none">
            Browse Our Website
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">Home</li>
          <li class="my-2 text-xl" style="list-style-type: none">Shop</li>
          <li class="my-2 text-xl" style="list-style-type: none">Category</li>
          <li class="my-2 text-xl" style="list-style-type: none">About Us</li>
        </ul>
      </div>
      <div class="flex flex-1 text-white ml-6 mr-8 my-4">
        <ul>
          <li class="my-2 text-xl" style="list-style-type: none">Contact Us</li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <i class="pi pi-envelope"></i>help@robin.com
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <i class="pi pi-linkedin"></i>RobinFumi
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <i class="pi pi-phone"></i>(1245) 2456 012
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <i class="pi pi-twitter"></i>@RobinFumi
          </li>
        </ul>
      </div>
      <div class="flex flex-1 text-white">
        <ul>
          <li class="my-2 text-xl" style="list-style-type: none">Address</li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <div class="flex">
              <div class="my-4">
                <img src="../../assets/Vector.png" class="map" />
              </div>
              <div>944 Edgewood Ave South Jacksonville FL 32205-5341</div>
            </div>
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">
            Download Apps at:
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <img src="../../assets/googleplayldpi.png" alt="" />
          </li>
          <li class="my-2 text-xl" style="list-style-type: none">
            <img src="../../assets/Appstoreldpi.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
